<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据结构知识点</title>
</head>
<body>
    <center>
    <h1>欢迎来到数据结构知识点系统管理系统</h1>
    <div>
        <h2><a href="http://localhost:8080//user/choose?index=1">树</a></h2>
    </div>
    <br>
    <div>
        <h2><a href="http://localhost:8080//user/choose?index=2">图</a></h2>
    </div>
    <br>
    <div>
        <h2><a href="http://localhost:8080//user/choose?index=3">数组</a></h2>
    </div>
    <br>
    <div>
        <h2> <a href="http://localhost:8080//user/choose?index=4">链表</a></h2>
    </div>
    <br>
    <div>
        <h2><a href="http://localhost:8080//user/choose?index=5">队列</a></h2>
    </div>
    <br>
    <div>
        <h2><a href="http://localhost:8080//user/choose?index=6">栈</a></h2>
    </div>
    </center>
</body>
</html>