<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>树</title>
</head>
<body>
<div style="text-align: center">
    <h1>树</h1>
</div>
    <div>
        树是一种数据结构，它是由n（n>=1）个有限节点组成一个具有层次关系的集合。把它叫做 “树” 是因为它看起来像一棵倒挂的树，也就是说它是根朝上，而叶朝下的。它具有以下的特点：
    </div>
    <div>
        每个节点有零个或多个子节点；
        <br>
        没有父节点的节点称为根节点；
        <br>
        每一个非根节点有且只有一个父节点；
        <br>
        除了根节点外，每个子节点可以分为多个不相交的子树；
        <br>
        二叉树是树的特殊一种，具有如下特点：
        <br>
        1、每个结点最多有两颗子树，结点的度最大为2。
        <br>
        2、左子树和右子树是有顺序的，次序不能颠倒。
        <br>
        3、即使某结点只有一个子树，也要区分左右子树。
        <br>
        二叉树是一种比较有用的折中方案，它添加，删除元素都很快，并且在查找方面也有很多的算法优化，所以，二叉树既有链表的好处，也有数组的好处，是两者的优化方案，在处理大批量的动态数据方面非常有用。
    </div>
<div style="text-align: center">
    <h2><a href="http://localhost:8080//user/home">返回</a></h2>
</div>

</body>
</html>